@import url("../styles/login.css");
@import url("../styles/menu.css");
@import url("../styles/about.css");
@import url("../styles/settings.css");
@import url("../styles/play.css");

@font-face {
    font-family: 'console85';
    src: url('../fonts/console85mono-webfont.eot');
    src: url('../fonts/console85mono-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/console85mono-webfont.woff') format('woff'),
         url('../fonts/console85mono-webfont.ttf') format('truetype'),
         url('../fonts/console85mono-webfont.svg#console85monomedium') format('svg');
    font-weight: normal;
    font-style: normal;
}

body {
  background-color: #ddd;
  font-family: 'console85';
}

.main {
  padding: 0;
}

.game-area {
  background-color: #fff;
  max-width: 600px;
}

.game-title {
  font-size: 55px;
  line-height: 50px;
}

.game-header {
  background-color: black;
  color: white;
  padding-top: 13px;
}

.game-body {
	font-size: 24px;
	padding: 10px;
	height: 350px;
}

.game-footer {
	padding: 15px;
}

.game-footer-text {
  font-size: 20px;
}

.btn-default {
  border: none;
  border-radius: 0;
  font-size: 20px;
  line-height: 20px;
  padding: 15px 10px 10px 10px;
  background-color: #fff;
}

.btn-default:hover {
  background-color: #fff;
  border-color: #ddd;
}

.btn-inverse {
  color: #fff;
  background-color: black;
  border-radius: 0;
  font-size: 20px;
  line-height: 20px;
  padding: 15px 10px 10px 10px;
}

.btn-inverse:hover {
  color: #fff;
}

.unselectable {
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}
