.pong-table {
  border-bottom: 1px solid lightgray;
  border-bottom: 1px solid rgba(0,0,0,0.3); 
  background-color: #000;
  box-shadow: 0 9px 20px -5px rgba(0,0,0,0.8);
}

.pong-table-container canvas {
	display: inline;
}

.main h1 {
	font-size: 64px;
	margin-top: 0;
	margin-bottom: 0;
	padding-top: 0;
	padding-bottom: 0;
	padding-left: .1em;
}

