.play.game-body {
	padding: 0;
}

.score-left {
	margin-left: 15px;
	width: 100px;
	text-align: left;
}

.score-right {
	margin-right: 10px;
	width: 100px;
	text-align: right;
}

.game-controls {
	font-size: 24px;
	line-height: 43px;
}

.game-controls a {
	color: #777;
}

.game-controls a:hover {
	color: #fff;
	text-decoration: none;
}

.game-over {
	position: absolute;
	background-color: white;
	top: 135px;
	left: 150px;
	font-size: 40px;
	padding-left: 60px;
	padding-right: 45px;
	padding-top: 40px;
	padding-bottom: 32px
}

.game-over a {
	color: #777;
	background-color: black;
	padding: 10px;
	padding-bottom: 6px;
}

.game-over a:hover {
	color: #fff;
	text-decoration: none;
}

a {
	cursor: pointer;
}