<div class='container game-area'>
    <div class='row game-header text-center'>
        <span class='game-title'>BLOC PONG</span>
    </div>
    <div class='row game-body'>
      <form class="form-signin">
        <label for="username">USERNAME</label>
        <input type="text" class="form-control" name="username" placeholder="USERNAME" required="" autofocus="" />
        <br />
        <label for="password">PASSWORD</label>
        <input type="password" class="form-control" name="password" placeholder="PASSWORD" required=""/>
        <button class="btn btn-lg btn-inverse" type="submit">SIGN UP</button>
        <button class="btn btn-lg btn-inverse pull-right" type="submit">LOG IN</button>
    </form>
    </div>
</div>