<div class='container game-area'>
  <div class='row game-header text-center'>
    <span class='game-title'>BLOC PONG</span>
  </div>
  <div class='row game-body'>
    <ul class='game-menu'>
    	<li class='text-center' data-ng-click='gotoView("play")'>
    		Play
    	</li>
    	<li class='text-center'>
    		Settings
    	</li>
    	<li class='text-center' data-ng-click='gotoView("about")'>
    		About
    	</li>
    	<li class='text-center' data-ng-click='logout()'>
    		Logout
    	</li>
    </ul>
  </div>
</div>