<div class='container game-area'>
  <div class='game-over text-center' data-ng-show='gameOver'>
    You {{ gameOver }}!
  </div>
  <div class='row game-header text-center'>
  	<span class='score-left pull-left game-title' data-ng-click='score.left = score.left + 1'>{{ score.left }}</span>
  	<span class='game-controls'>
  	<a data-ng-click='gotoMenu()'>Menu</a>
  	<a data-ng-click='togglePlayPause()' data-ng-show='!$parent.paused && !gameOver'>Pause</a>
    <a data-ng-click='togglePlayPause()' data-ng-show='$parent.paused && !gameOver'>Play</a>
  	<span>
  	<span class='score-right pull-right game-title' data-ng-click='score.right = score.right + 1'>{{ score.right }}</span>
  </div>
  <div class='row play game-body'>
    <canvas data-pong-table='' class='pong-table' width='600', height='350'></canvas>
  </div>
</div>
